<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema para Escuela</title>
</head>
<style>
    body{
        background-color: #B4BDFF;
    }
    h1 {
        color: #363062;

    }
</style>
<body>
    <h1>Administracion de Escuela</h1>

            <p> Para navegar al Registro de Profesores escriba '/profesores' en la URL</p>
        
            <p> Para navegar al Registro de Carreras escriba '/carreras' en la URL</p>
        
            <p>Para navegar al Registro de Asignaturas escriba '/asignaturas' en la URL</p>
       
            <p>Para navegar al Registros de Estudiantes escriba '/estudiantes' en la URL</p>
        
   
    
</body>
</html>